In [1]:
tuple = 4,56,7

In [2]:
print(tuple)

(4, 56, 7)

In [4]:
tuple

(4, 56, 7)

In [5]:
nested_tuple = (1 ,2 ,3), (99, 100)

In [6]:
nested_tuple

((1, 2, 3), (99, 100))

In [7]:
tuple = ("Python")

In [8]:
tuple

'Python'

In [11]:
tup1 = (1,2,3)

In [12]:
tup1

(1, 2, 3)

In [15]:
tup = (4, 2, 3) + (5, None)

In [16]:
tup

(4, 2, 3, 5, None)

In [17]:
tup_mul = (99) * 3

In [18]:
tup_mul

297

In [19]:
# Upacking Tuples

tuple = (4 , 5, 6)
a, b, c = tuple

In [20]:
a

4

In [21]:
b

5

In [22]:
c

6

In [23]:
tup = (1 , 2, 3), 4, 5

In [25]:
(a ,b,c),d,e = tup

In [26]:
a

1

In [27]:
b
c
d
e

5

In [28]:
values = 1, 2, 3, 4, 5

In [34]:
a, b, *_ = values  #to seperate a and b from the rest of the tuple

In [31]:
a, b

(1, 2)

In [35]:
_

[3, 4, 5]

In [36]:
#TUPLE METHODS

In [37]:
any = (1, 44, 6, 3, 99, 22, 43, 784, 56, 22,3, 00, 34)

In [40]:
any.count(3)  #counts the number of occurrences of the val given in the brackets

2

In [41]:
a_list = [1, 2, 3, None]  #list is same as tuples, it have variable length

In [42]:
a_list

[1, 2, 3, None]

In [46]:
b_list = list(any)    #converting a tuple to a list

In [44]:
b_list

[1, 44, 6, 3, 99, 22, 43, 784, 56, 22, 3, 0, 34]

In [45]:
b_list.count(3)  #using the ,count() function in the list

2

In [49]:
a_list[3]

In [50]:
a_list[3] = 'String'

In [51]:
a_list

[1, 2, 3, 'String']

In [52]:
gen= range(20)  #generator upto a random number

In [53]:
gen

range(0, 20)

In [54]:
list(gen)  #using lists to print out all the numbers in that range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [55]:
c_list = ['Aditya', 'Ramachandran', 'Python']

In [56]:
c_list.append('String')   #used to add an element to the end of the list

In [57]:
c_list

['Aditya', 'Ramachandran', 'Python', 'String']

In [58]:
c_list.insert(2, 'Hello')  # Using insert you can insert an element at a specific location in the list

In [59]:
c_list

['Aditya', 'Ramachandran', 'Hello', 'Python', 'String']

In [92]:
c_list.pop(3)  # pop, which removes and returns an element at a particular index:

IndexError: pop index out of range

In [61]:
c_list

['Aditya', 'Ramachandran', 'Hello', 'String']

In [101]:
c_list.remove('Ramachandran')

ValueError: list.remove(x): x not in list

In [63]:
c_list

['Aditya', 'Hello', 'String']

In [65]:
'Aditya' in c_list  # Check if the val is present in the list or not and returns a Boolean value

True

In [66]:
23 in c_list

False

In [99]:
'Aditya' not in c_list  # not is used to negate the answer. True becomes false and vice versa

False

In [68]:
23 not in c_list

True

In [70]:
d_list = [None, 23, 'foo'] + ['hello', 'Hello'] + [23, 36, (2, 1)]  #cpmbining of lists using the +

In [71]:
d_list

[None, 23, 'foo', 'hello', 'Hello', 23, 36, (2, 1)]

In [73]:
e_list = [None,'foo']

In [75]:
e_list.extend(['Aditya'])  #Extend is used to extend the length of the list and to add new elements

In [76]:
e_list

[None, 'foo', 'Aditya']

In [94]:
# Note that list concatenation by addition is a comparatively expensive operation since
# a new list must be created and the objects copied over. Using extend to append elements
# to an existing list, especially if you are building up a large list, is usually preferable

In [95]:
# List Sorting

In [96]:
b = [99, 6 , 4, 0 , 74]

In [97]:
b.sort()  # You can sort a list in-place (without creating a new object) by calling its sort
          # function

In [98]:
b

[0, 4, 6, 74, 99]

### Binary search and maintaining a sorted list

*The built-in bisect module implements binary search and insertion into a sorted list.
bisect.bisect finds the location where an element should be inserted to keep it sorted,
while bisect.insort actually inserts the element into that location:*

In [102]:
import bisect

In [103]:
sorting = (1, 2, 3, 4, 5, 99, 102)

In [104]:
bisect.bisect(sorting, 6)  # bisect.bisect finds the location where an element should be inserted to keep it sorted,

5

In [105]:
bisect.bisect(sorting, 454)

7

In [109]:
bisect.insort(sorting, 6)

AttributeError: 'tuple' object has no attribute 'insert'

### Slicing

*You can select sections of most sequence types by using slice notation, which in its
basic form consists of start:stop passed to the indexing operator []:*

In [110]:
slicelist = (1,2,3,7,72,34,56,90,23)

In [111]:
slicelist[1:5]

(2, 3, 7, 72)

In [112]:
slicelist[0:5]

(1, 2, 3, 7, 72)

**Note: While the element at the start index is included, the stop index is not included, so
that the number of elements in the result is stop - start.**

In [113]:
slicelist[:5]  #assumes that that start is from 0

(1, 2, 3, 7, 72)

In [117]:
slicelist[0:]  #assumes that we want the seq till the end from the specified start index

(1, 2, 3, 7, 72, 34, 56, 90, 23)

In [116]:
slicelist[6:]

(56, 90, 23)

**Negative indices slice the sequence relative to the end:**

In [121]:
slicelist[-3] #prints the 3rd last element

56

In [122]:
slicelist[-1] # prints the last element

23

In [123]:
slicelist[-3:] # prints the last three numbers

(56, 90, 23)

In [124]:
slicelist[-5:]

(72, 34, 56, 90, 23)

In [125]:
slicelist[:-3]  # prints all the numbers EXCEPT the last 3

(1, 2, 3, 7, 72, 34)

In [126]:
slicelist[:-5] # prints all the numbers EXCEPT the last 5

(1, 2, 3, 7)

### Built-in Sequence Functions

#### enumerate

In [1]:
# Python has a built-in function, enumerate, which returns a
# sequence of (i, value) tuples:

In [2]:
some_list = ['Aditya', 'Ramachandran', 'Python', 'Machine']

In [3]:
mapping = {}

In [5]:
for i, value in enumerate(some_list):mapping[value] = i

In [6]:
mapping

{'Aditya': 0, 'Ramachandran': 1, 'Python': 2, 'Machine': 3}

In [11]:
for index, value in enumerate(some_list):
    if index%2 != 0: print(value)

Ramachandran
Machine

In [14]:
for index, value in enumerate(some_list):
    mapping[value] = i

In [15]:
mapping

{'Aditya': 3, 'Ramachandran': 3, 'Python': 3, 'Machine': 3, 3: 'Machine'}

https://www.youtube.com/watch?v=NjaKU7eEGt8

#### sorted

In [16]:
# The sorted function returns a new sorted list from the elements of any sequence:

In [17]:
sorted([99,7,5,66,4,2,77,12,36])

[2, 4, 5, 7, 12, 36, 66, 77, 99]

In [19]:
sorted(['COMPUTER'])

['COMPUTER']

In [20]:
sorted('COMPUTER')

['C', 'E', 'M', 'O', 'P', 'R', 'T', 'U']

In [21]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [22]:
# zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a
# list of tuples:

In [29]:
seq1 = ['foo', 'bar', 'baz']

In [33]:
seq2 = ['one', 'two', 'three']

In [34]:
zipped = zip(seq1, seq2)

In [35]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [36]:
list1 = ['A1', 'B1', 'C1']

In [37]:
list2 = ['A2', 'B2', 'C2']

In [38]:
zipped_list = zip(list1, list2)

In [39]:
list(zipped_list)

[('A1', 'A2'), ('B1', 'B2'), ('C1', 'C2')]

In [40]:
# zip can take an arbitrary number of sequences, and the number of elements it produces
# is determined by the shortest sequence:

In [42]:
list3 = ['Hi', 'Hello']  #this has only two elements so the zipped list will also have only  elements

#### reversed

In [46]:
# reversed iterates over the elements of a sequence in reverse order:

In [49]:
a =reversed(range(10))

In [53]:
del list

In [54]:
list(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [55]:
seq = [22, 5, 7, 10, 84, 34]

In [56]:
list(reversed(seq))

[34, 84, 10, 7, 5, 22]

## dict

In [58]:
# More common
# name for it is hash map or associative array. It is a flexibly sized collection of key-value
#  pairs, where key and value are Python objects.

In [59]:
empty_dict = {}

In [60]:
d1 = {'a' : 'some value', 'b' : 'another value'}

In [61]:
d1

{'a': 'some value', 'b': 'another value'}

In [62]:
d2 = {'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4}

In [63]:
d2

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [64]:
d3 = {'a' : 1, 'b' : [2, 3, 4, 5]}

In [70]:
d3

{'a': 1, 'b': [2, 3, 4, 5]}

In [71]:
# You can access, insert, or set elements using the same syntax as for accessing elements
# of a list or tuple:

In [81]:
d3[3] = 'Hello'

In [73]:
d3

{'a': 1, 'b': [2, 3, 4, 5], 3: 'Hello'}

In [75]:
d3[b]

NameError: name 'b' is not defined

In [77]:
d3['b']  #used to print the elements assigned to that specific key ('' should be used for characters)

[2, 3, 4, 5]

In [78]:
d1['a']

'some value'

In [82]:
d3[3]   # number can be passed without ''

'Hello'

In [83]:
'some value ' in d1  # used to check in the KEY is present in the dict

False

In [84]:
'Hello ' in d3

False

In [85]:
3 in d3

True

In [86]:
'some value' not in d1  # negated result

True

In [87]:
# You can delete values either using the del keyword or the pop method (which simultaneously
# returns the value and deletes the key):

In [88]:
d1

{'a': 'some value', 'b': 'another value'}

In [89]:
d1['c'] = 'Hello'

In [90]:
d1

{'a': 'some value', 'b': 'another value', 'c': 'Hello'}

In [91]:
d1[3] = 'Hola'

In [92]:
del d1[3]  # deletes the value associated with the key (no need to mention numbers in '')

In [93]:
del d1['b']

In [94]:
d1

{'a': 'some value', 'c': 'Hello'}

In [95]:
d1[5] = 5

In [96]:
d1[6] = 1

In [97]:
d1

{'a': 'some value', 'c': 'Hello', 5: 5, 6: 1}

In [99]:
d1.pop(6)  #deletes the key and gives back the values also

1

In [100]:
d1.pop('a')

'some value'

In [103]:
d4 = {1 : 'A1', 2: 'B1', 3: 'C1'}

In [109]:
 d5 = {5 : 'A2', 6 : 'B2', 7 : 'C2'}

In [110]:
d4.update(d5)  # update method is used to

In [111]:
d4

{1: 'A2', 2: 'B2', 3: 'C2', 5: 'A2', 6: 'B2', 7: 'C2'}

In [113]:
d5.update(d4)

In [114]:
d5

{5: 'A2', 6: 'B2', 7: 'C2', 1: 'A2', 2: 'B2', 3: 'C2'}

In [115]:
# The update method changes dicts in-place, so any existing keys in the data passed to
# update will have their old values discarded.

### Valid dict key types

In [116]:
# While the values of a dict can be any Python object, the keys generally have to be
# immutable objects like scalar types (int, float, string) or tuples (all the objects in the
# tuple need to be immutable, too).

In [117]:
# The technical term here is hashability. You can
# check whether an object is hashable (can be used as a key in a dict) with the hash
# function:

In [118]:
hash('string')

1824614948177025306

In [119]:
hash(1 , 2 , 3)

TypeError: hash() takes exactly one argument (3 given)

In [120]:
a = (1,2,3)

In [121]:
hash(a)

529344067295497451

In [122]:
hash((1 ,2 [1, 2])) #fails because lists are unhashable

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-122-d661d253e15b>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  hash((1 ,2 [1, 2]))

TypeError: 'int' object is not subscriptable

In [123]:
list_demo = [1 , 2, 3, 4]

In [124]:
hash(list_demo)

TypeError: unhashable type: 'list'

## Set

In [125]:
# A set is an unordered collection of unique elements. You can think of them like dicts,
# but keys only, no values.A set can be created in two ways: via the set function or via

In [126]:
# A set can be created in two ways: via the set function or via a set literal with curly braces:

In [127]:
set([1, 3, 5, 7, 9])  # A set using the set function

{1, 3, 5, 7, 9}

In [128]:
{2, 4, 6, 8}  # A set using curly braces

{2, 4, 6, 8}

**Note : When we use '[ ]' and put elements inside it, it is a LIST 
         When we use '{ }' and put elements inside it, it is a SET**

#### Union & Intersection

In [129]:
set_a = {1, 3, 5, 8, 9}
set_b = {1, 2, 4, 6, 8}

In [132]:
set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 8, 9}

In [134]:
set_a | set_b  # the | can also be used for union

{1, 2, 3, 4, 5, 6, 8, 9}

In [131]:
set_a.intersection(set_b)

{1, 8}

In [135]:
set_a & set_b  # the | can also be used for intersection

{1, 8}

In [136]:
my_list = [1, 2, 5, 6, 7]

In [137]:
hash(my_list)

TypeError: unhashable type: 'list'

In [139]:
my_set = {tuple(my_list)} # Method to convert a list to a set

In [140]:
my_set

{(1, 2, 5, 6, 7)}

In [141]:
my_set | set_a

{(1, 2, 5, 6, 7), 1, 3, 5, 8, 9}

In [142]:
{1, 3, 5}.issubset(set_a)

True

In [143]:
{1, 69, 96}.issubset(set_a)

False

In [144]:
#  superset of (contains allelements of) another set:

In [147]:
set_c = {tuple(range(10))}

In [148]:
set_c

{(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)}

In [149]:
set_c.issuperset(set_a)

False

In [150]:
set_a

{1, 3, 5, 8, 9}

In [151]:
set_a.issuperset(set_a)

True

## List, Set, and Dict Comprehensions

In [152]:
# They allow you to concisely form a new list by filtering the elements of a collection, transforming
# the elements passing the filter in one concise expression.

In [153]:
# They take the basic form:
# [expr for val in collection if condition]

In [154]:
# For example, given a list of strings, we could filter out strings with length 2 or less and also convert them to
# uppercase like this:

In [155]:
strings = ['Hello', 'I', 'as', 'car', 'bat', 'hi']

In [158]:
[x.upper() for x in strings if len(x) > 2]

['HELLO', 'CAR', 'BAT']

In [159]:
lengths = {len(x) for x in strings} # set comprehension to calculate the length

In [160]:
lengths

{1, 2, 3, 5}

***

# Functions

In [1]:
# Hello this is a test